{% extends 'index.html' %}
{% block title %} Registrar conta {% endblock title %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block content %} <div id="container">

    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/register"> Criar conta</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title">Registrar conta</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="subtitle">Login</h2>
                        <p><strong>Acesse sua conta</strong></p>
                        <p>Caso você já tenha uma conta acesse aqui.</p>
                        <a href="{% url 'user:login' %}" class="btn btn-primary">Login</a>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="subtitle">Criar nova conta</h2>
                        <p><strong>Adicione seus dados</strong></p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="input-email">Nome de usuário</label>
                                <input type="text" name="username" value="" placeholder="Nome do usuário"
                                    id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-email">E-mail</label>
                                <input type="text" name="email" value="" placeholder="E-mail" id="input-email"
                                    class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-email">Nome</label>
                                <input type="text" name="first_name" value="" placeholder="Nome do usuário"
                                    id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-email">Sobrenome</label>
                                <input type="text" name="last_name" value="" placeholder="Sobrenome do usuário"
                                    id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-email">CPF</label>
                                <input type="text" name="cpf" value="" placeholder="CPF" maxlength="11"
                                    id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-email">Número de telefone</label>
                                <input type="text" name="phone" value="" placeholder="Número de telefone"
                                    id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-email">Endereço</label>
                                <input type="text" name="address" value="" placeholder="Endereço"
                                    id="input-email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>TIpo de usuário</label>
                                <select name="type_user" class="form-control">
                                    {% for val, name in user_list.TYPE_USER %}
                                    <option value="{{val}}">{{name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-password">Senha</label>
                                <input type="password" name="password1" value="" placeholder="Senha" id="input-password"
                                    class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="input-password">Confirme sua senha</label>
                                <input type="password" name="password2" value="" placeholder="Repita sua senha"
                                    id="input-password" class="form-control" />
                            </div>
                            <input type="submit" value="Criar conta" class="btn btn-primary btn-lg btn-block" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %} {% include 'footer.html' %} {% endblock %}