{% extends 'index.html' %}

{% block title %} Acessar conta {% endblock title %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block content  %} <div id="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="container">
          <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <h1 class="title">Fazer login</h1>
            <div class="row">
                <div class="col-sm-6">

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="input-email">E-mail</label>
                            <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email"
                                class="form-control" />
                        </div>
                         <div class="form-group">
                           <div class="form-group">
                            <label class="control-label" for="input-password">Senha</label>
                            <input type="password" name="password" value="" placeholder="Password" id="input-password"
                                class="form-control" />
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block" />
                    </form>

                </div>

            </div>
        </div>
    </div>
    </div>
</div>
{% endblock  %}
{% block footer %} {% include 'footer.html' %} {% endblock %}