{% extends 'index.html' %}
{% block title %} Perfil -  {{request.user.first_name}}   {% endblock title %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block content  %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    <div class="row">

        {% block menu  %} {% include 'partials/menu.html' %} {% endblock  %}
        <h3 class="subtitle">Bem vindo, {{user.first_name}}</h3>
    </div>
</div>

{% endblock  %}
{% block footer %} {% include 'footer.html' %} {% endblock %}