<aside id="column-right" class="col-sm-3 hidden-xs">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        {% if request.user.type_user == 2 %}
        <tr>
        <th scope="row"><a href="{% url 'car:create_car' %}">Adicionar novo carro</a></th>
        </tr>
        <tr>
        <th scope="row"><a href="">Carros cadastrados</a></th>
        </tr>
        {% elif request.user.type_user == 1 %}
        <tr>
        <th scope="row"><a href="">Carros Alugados</a></th>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </aside>